<!-- About us / Progress Bars -->
<section class="section-wrap-mp">
    <div class="container">

        <div class="row">

            <!--<div class="col-sm-6">-->
                <!--<blockquote class="blockquote-style-1">-->
                    <!--<p>-->
                        <!--Incredible change happens in your life, and the life of those around you when you decide to take control of what you do have power over instead of craving control over what you don't.-->
                    <!--</p>-->
                    <!--<span>- Jared Ward</span>-->
                <!--</blockquote>-->
            <!--</div>-->

            <div class="col-sm-6">
                <div class="about-description mt-30">
                    <h4>Our Story</h4>
                    <p>Incredible change happens in your life, and the life of those around you when you decide to take control of what you do have power over instead of craving control over what you don't.</p>
                    <p>Jared Ward and Company will help you get there.</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="skills-progress" id="skills">

                    <h6>Running <span>100%</span></h6>
                    <div class="progress-solid meter">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>

                    <h6>Charity <span>80%</span></h6>
                    <div class="progress-solid meter">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar" role="progressbar">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>

                    <h6>Competition <span>90%</span></h6>
                    <div class="progress-solid meter" id="animated-skills">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>