<!-- coaching packages -->
<section class="section-wrap-mp pricing">
    <div class="container">

        <div class="row">

            <div class="col-md-3" ng-repeat="package in $packages.list">
                <div class="pricing-3-col wow fadeInUp" data-wow-duration="1s" data-wow-delay="{{$packages.getWowDelay($index)}}">
                    <div class="pricing-title">
                        <h3>{{package.name}} <br> Running Plan</h3>
                        <div class="pricing-price">
                            <span class="pricing-currency">${{package.price}}</span>
                            <span class="pricing-term">Per Month</span>
                        </div>
                    </div>

                    <div class="pricing-features">
                        <ul>
                            <li ng-repeat="feature in package.features" ng-bind-html="feature"></li>
                        </ul>
                    </div>

                    <div class="pricing-button">
                        <a ng-href="{{package.link}}">
                            <div class="btn btn-lg btn-color">Purchase Now</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <small>
                * For runners local to Utah only.
            </small>
            <br>
            <small>
                ** The dietitian assessment will be one hour long in your second month.
            </small>
        </div>

    </div>
</section>