<!-- Pricing 3 Columns -->
<section class="section-wrap-mp pricing">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="pricing-3-col wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="pricing-title">
                        <h3>Basic</h3>
                        <div class="pricing-price">
                            <span class="pricing-currency">$99</span>
                            <span class="pricing-term">Per Month</span>
                        </div>
                    </div>

                    <div class="pricing-features">
                        <ul>
                            <li>Fully Responsive</li>
                            <li>Clean Design</li>
                            <li>Tons of Features</li>
                            <li>Awesome Shortcodes</li>
                            <li>Easy to Customize</li>
                        </ul>
                    </div>

                    <div class="pricing-button">
                        <a href="#">
                            <div class="btn btn-lg btn-color">Purchase Now</div>
                        </a>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-md-4">
                <div class="pricing-3-col wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="pricing-title best-price">
                        <h3>Advanced</h3>
                        <div class="pricing-price">
                            <span class="pricing-currency">$119</span>
                            <span class="pricing-term">Per Month</span>
                        </div>
                    </div>

                    <div class="pricing-features">
                        <ul>
                            <li>Fully Responsive</li>
                            <li>Clean Design</li>
                            <li>Tons of Features</li>
                            <li>Awesome Shortcodes</li>
                            <li>Easy to Customize</li>
                        </ul>
                    </div>

                    <div class="pricing-button">
                        <a href="#">
                            <div class="btn btn-lg btn-color">Purchase Now</div>
                        </a>
                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-md-4">
                <div class="pricing-3-col last wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="pricing-title">
                        <h3>Premium</h3>
                        <div class="pricing-price">
                            <span class="pricing-currency">$139</span>
                            <span class="pricing-term">Per Month</span>
                        </div>
                    </div>

                    <div class="pricing-features">
                        <ul>
                            <li>Fully Responsive</li>
                            <li>Clean Design</li>
                            <li>Tons of Features</li>
                            <li>Awesome Shortcodes</li>
                            <li>Easy to Customize</li>
                        </ul>
                    </div>

                    <div class="pricing-button">
                        <a href="#">
                            <div class="btn btn-lg btn-color">Purchase Now</div>
                        </a>
                    </div>
                </div>
            </div> <!-- end col -->

        </div>
    </div>
</section> <!-- end pricing 3 columns-->