<!-- Promo Section -->
<section class="section-wrap promo-section bg-dark">

    <div id="owl-promo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img src="img/promo_img_1.png" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">Chase Your Dream</p>
                        <h3 class="color-white">Best Html Template Ever</h3>
                        <p class="mb-30"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                        <a href="#" class="btn btn-lg btn-color">Purchase Now</a>
                        <div class="customNavigation mt-40">
                            <a class="prev"><i class="icon arrow_left"></i></a>
                            <a class="next"><i class="icon arrow_right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s">
                        <img src="img/promo_img_2.png" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">Chase Your Dream</p>
                        <h3 class="color-white">Touch Owl Carousel Slider</h3>
                        <p class="mb-30"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                        <a href="#" class="btn btn-lg btn-color">Purchase Now</a>
                        <div class="customNavigation mt-40">
                            <a class="prev"><i class="icon arrow_left"></i></a>
                            <a class="next"><i class="icon arrow_right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s">
                        <img src="img/promo_img_3.png" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">Chase Your Dream</p>
                        <h3 class="color-white">Self Hosted Video Background</h3>
                        <p class="mb-30"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                        <a href="#" class="btn btn-lg btn-color">Purchase Now</a>
                        <div class="customNavigation mt-40">
                            <a class="prev"><i class="icon arrow_left"></i></a>
                            <a class="next"><i class="icon arrow_right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div> <!-- end slider -->
</section> <!-- end promo section -->