/*-------------------------------------------------------*/
/* Custom overrides
/*-------------------------------------------------------*/
.jwr-hero {
    max-height: 700px;
    height: 100vh;
}

.section-wrap-mp {
    padding: 60px 0;
}

.container-full-height {
    height: 100vh;
}

.aligned-center {
    text-align: center;
}
.aligned-right {
    text-align: right;
}
.aligned-left {
    text-align: left;
}

.aligned-top {
    vertical-align: top;
}
.aligned-middle {
    vertical-align: middle;
}
.aligned-bottom {
    vertical-align: bottom;
}


.jwr-table {
    display: table;
    width: 100%;
    position: relative;
}

.jwr-table-row {
    display: table-row;
    width: 100%;
}

.jwr-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.jwr-page-title {
    padding: 20px 0;
    text-align: center;
}

.jwr-page-title section > * {
    line-height: 100px;
    padding: 0;
    margin: 0;
}

.jwr-page-title .logo {
    height: 100px;
}


.jwr-blue {
    background-color: #3661AA;
}
.jwr-light-blue {
    background-color: #98AfD3;
}
.white {
    background-color: #ffffff;
}
