<!-- Intro -->
<section class="section-wrap intro" id="intro">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
                <h2 class="intro-heading heading-frame">Welcome to Enigma</h2>
                <p class="intro-text mb-60">
                    We continuosly seek between design and technology. For over a decade, we've helped businesses to craft honest, emotional experiences through strategy, brand development, graphic design, web design. Our team hand picked to provide the right balance of skills to work.
                </p>

                <img src="img/intro_logo.png" alt="" />
            </div>

        </div>
    </div>
</section> <!-- end intro -->