<!-- Navigation -->
<header class="nav-type-1">

    <nav class="navbar navbar-fixed-top">
        <div class="navigation-overlay">
            <div class="container-fluid relative">
                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap">
                                <a ui-sref="home">
                                    <img class="logo" src="img/jwrc/logo/Logo-filled-white.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div> <!-- end navbar-header -->

                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                            <ul class="navbar-nav text-center">
                                <li ui-sref-active="active" ng-repeat="link in $nav.navLinks">
                                    <a ui-sref="{{link.state}}" ng-bind="link.label"></a>
                                </li>
                            </ul>

                        </div>
                    </div> <!-- end col -->

                    <div class="menu-socials hidden-sm hidden-xs">
                        <ul>
                            <li ng-repeat="link in $nav.socialLinks">
                                <a ng-href="{{link.url}}"><i class="fa {{link.icon}}"></i></a>
                            </li>
                        </ul>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end navigation -->
    </nav> <!-- end navbar -->

</header> <!-- end navigation -->