<!-- Clients -->
<section class="section-wrap clients bg-light">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Our Sponsors</h2>
                <p class="subheading text-center">They Trust Us</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_1.png" alt="">
            </div>
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_2.png" alt="">
            </div>
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_3.png" alt="">
            </div>
        </div>
        <div class="row second-row">
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_4.png" alt="">
            </div>
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_5.png" alt="">
            </div>
            <div class="col-sm-4 client-logo">
                <img src="img/client_logo_6.png" alt="">
            </div>
        </div>

    </div>
</section> <!-- end clients -->