$duration-fast: 1s;
$duration: 5s;
$duration-slow: 10s;

/* ========================================================================
   Animations
 ========================================================================== */
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation:    #{$animation};
  -o-animation:      #{$animation};
  animation:         #{$animation};
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}

/* flash
 ========================================================================== */
/*
  // flash TimelineMax animation to mimic
  var flashTimeline = new TimelineMax();
      flashTimeline.fromTo(element, 0.6, {backgroundColor: "transparent"}, {backgroundColor: "rgba(255,255,255,0.2)", delay: 1.3});
      flashTimeline.yoyo(true);
      flashTimeline.repeat(-1);
*/

@include keyframes(flash) {
  0%, 30%, 68%, 100% {
    background-color: transparent;
  }
  49% {
    background-color: $white-20;
  }
}

@include keyframes(flash-full-color) {
  49% {
    background-color: $black-10;
  }
}

.anim-flash {
  @include animation(flash 3.8s infinite);
  &.full-color {
    @include animation(flash-full-color 3.8s infinite);
  }
}

/* spinner rotate
 ========================================================================== */
@include keyframes(spinner-rotate) {
  0% {
    @include transform(rotate(-135deg));
  }
  100% {
    @include transform(rotate(225deg));
  }
}

.viv--spin,
.anim-spinner-rotate {
  @include animation(spinner-rotate $duration-fast ease-out infinite);
  transform-origin: center center;
  transform-style: preserve-3D;
}

/* rotate: right
 ========================================================================== */
@include keyframes(rotate-right) {
  100% {
    @include transform(rotate(360deg));
  }
}

.anim-rotate-right {
  @include animation(rotate-right $duration linear infinite);
  transform-origin: center center;
  transform-style: preserve-3D;
}

/* slow rotate: right
 ========================================================================== */
@include keyframes(slow-rotate-right) {
  100% {
    @include transform(rotate(360deg));
  }
}

.anim-slow-rotate-right {
  @include animation(slow-rotate-right $duration-slow linear infinite);
  transform-origin: center center;
  transform-style: preserve-3D;
}


/* misc transforms
 ========================================================================== */
//TODO: technically this isn't an "animation" > move it somewhere more fitting
.rotate-180 {
  @include transform(rotate(180deg));
}

.transition-background {
  @include transition(background 0.2s !important);
}

.transition-rotate-rubber-band {
  @include transition-property(transform);
  @include transition-duration(300ms);
  @include transition-timing-function(cubic-bezier(0.17, 0.89, 0.89, 1.26));
}