/* ========================================================================
   Media Queries
 ========================================================================== */
$mobile-max: 639px;
$desktop-min: 640px;
$wide-desktop-min: 970px;         // Intended for views with sidebars and columns. Only show columns when viewport is wider than 970px.
$overview-max: 1620px;
$overview-min: 939px;
$tablet-height: 800px;
$tablet-width: 1024px;

@mixin mobile() {
  @media screen and (max-width: $mobile-max ) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop-min ) {
    @content;
  }
}

@mixin large-desktop() {
  @media screen and (min-width: $overview-max) {
    @content;
  }
}

@mixin wide-desktop() {
  @media screen and (min-width: $wide-desktop-min) {
    @content;
  }
}

@mixin small-desktop() {
  @media screen and (max-width: $overview-min) {
    @content;
  }
}

@mixin tablet-height() {
  @media screen and (max-height: $tablet-height) {
    @content;
  }
}


/* ========================================================================
  As of 2.2 the layout is designed to new responsive break-points...
  We will replace the old sizes in favor of this new awesomeness.
  Default is implied to be the "small" 480px and below scale.
 ========================================================================== */
$screen-sm: 480px;
$screen-md: 800px;
$screen-lg: 1120px;

@mixin screen-sm() {
    @media screen and (max-width: $screen-sm) {
        @content;
    }
}

@mixin screen-md() {
    @media screen and (min-width: $screen-sm + 1px) and (max-width: $screen-md) {
        @content;
    }
}
@mixin screen-lg() {
    @media screen and (min-width: $screen-md + 1px) and (max-width: $screen-lg) {
        @content;
    }
}
@mixin screen-xl() {
    @media screen and (min-width: $screen-lg + 1px) {
        @content;
    }
}

/* MaterialDesign breakpoint, to target custom classes less-than the SMALL width-state. */
@mixin screen-gt-md() {
  @media screen and (min-width: $screen-md + 1px) {
    @content;
  }
}

@mixin screen-gt-sm() {
  @media screen and (min-width: $screen-sm + 1px) {
    @content;
  }
}