/* ========================================================================
   Utility - be careful what you put in here so that it we don't
   end up with another gigantic unorganized styles file
 ========================================================================== */
// Element level styles
* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-light;
  font-size: 1em; //16px
  line-height: 1.5em;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $main-background-color;
  color: $text-color;
}

*:active {
  outline: none;
}

// Removes the focus border on buttons
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

video {
  background-color: $dark-charcoal;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

// Class level styles
.placeholder {
  color: $text-color !important;
}

.hidden {
  overflow: hidden;
}

.scrolls {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.italic {
  font-style: italic;
}

.relative {
  position: relative;
}

.invisible {
  visibility: hidden;
}

.no-opacity {
  opacity: 0 !important;
}

.underlined {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.clear-border {
  border-color: transparent !important;
}

.no-border {
  border: none !important;
  &--top {
    border-top: none !important
  }
  &--right {
    border-right: none !important
  }
  &--bottom {
    border-bottom: none !important
  }
  &--left {
    border-left: none !important
  }
}

.full-height {
  position: relative;
  height: 100%;
}

.full-width {
  width: 100% !important;
}

.center-aligned {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.vertical-align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
  @include mobile {
    padding-right: $edge-padding;
  }
}

.float-left {
  float: left;
  @include mobile {
    padding-right: $edge-padding;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.auto-width {
  width: auto !important;
  margin: 0 auto;
}

.edge-padding {
  padding-right: $edge-padding;
  padding-left: $edge-padding;
}

.table {
  display: table;
  width: 100%;
  position: relative;
  &.border-separated {
    .table-cell {
      border-right: 1px solid $light-gray;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.table-row {
  display: table-row;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  &.top {
    vertical-align: top;
  }
  &.middle {
    vertical-align: middle;
  }
  &.bottom {
    vertical-align: bottom;
  }
}

.pos-abs {
  position: absolute !important;
}

.pos-rel {
  position: relative !important;
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disabled {
  opacity: 0.4;
  cursor: default !important;
  pointer-events: none;
  &.more-transparent {
    opacity: 0.1;
  }
}

.avoid-clicks {
  pointer-events: none !important;
}

.no-overflow {
  overflow: hidden !important;
}

.no-x-overflow {
  overflow-x: hidden !important;
}

.no-y-overflow {
  overflow-y: hidden !important;
}

// "transform hack":
// What this does is let the browser know that we want to perform a 3D transform.
// This makes the browser create a separate layer and move the element to the GPU
// beforehand, thus triggering hardware acceleration.
.use-gpu {
  @include transform(translateZ(0));
}
// NOTE: "transform", "opacity" and "filter" already use hardware acceleration

.truncated-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}