/* ========================================================================
   Colors
 ========================================================================== */

/* color variables
 ========================================================================== */
// primary brand color
$vivint-orange: #ff8200; // (255,131,0)

// secondary colors
$red: #ff381e;
$light-orange: #ffa50e;
$yellow: #ffc71b;
$blue-green: #55be9d;
$blue: #67cbf6;

// gray scale
$black: #000;
$dark-charcoal: #222;
$light-charcoal: #444;
$dark-battleship: #555; // *one-off
$dark-gray: #666; // 'light-battleship'
$medium-gray: #999;
$light-gray: #ccc; // 'light-ash'
$dialog-background: #ddd;
$background-gray: #eee; // 'light-gray'
$tab-gray: #e5e5e5; // *one-off
$white: #fff;

// hover/click
$hover-orange: #e87207;
$click-orange: #cc6111;
$hover-blue-green: #51b09a;
$click-blue-green: #3c9e7f;
$hover-blue: darken($blue, 8%);
$click-blue: darken($blue, 16%);
$hover-gray: $dark-charcoal;
$click-gray: $black;
$hover-medium-gray: darken($medium-gray, 8%);
$click-medium-gray: darken($medium-gray, 16%);

// nest
$nest-gray: #7b858e;

//Social Media
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;

// transparency levels
$transparent: rgba(255, 255, 255, 0);

$vivint-orange-20: rgba($vivint-orange, 0.2);
$vivint-orange-40: rgba($vivint-orange, 0.4);

$blue-green-20: rgba($blue-green, 0.2);
$blue-green-40: rgba($blue-green, 0.4);

$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);

$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);

/* purposed variables
 ========================================================================== */
// backgrounds
$main-background-color: $background-gray;
$container-background-color: $white;
$settings-container-background-color: $tab-gray;
$sidebar-background-color: $light-gray;
$widget-color: $background-gray;
$widget-color-transparent: $white-30;

// text color
$text-color: $dark-gray;
$text-color-light: $medium-gray;

// borders and separators
$border-color: $white-20;

// forms
$form-color: $white;

// dimmed overlay
$dimmed-overlay: $black-50;

// states
$off-color: $text-color;
$off-text-color: $white;
$dormant: $dark-battleship;

// temperature
$heating: $light-orange;
$cooling: $blue;

/* color classes
 ========================================================================== */
.red {
  color: $red !important;
  &--background {
    background-color: $red !important;
  }
}

.orange {
  color: $vivint-orange !important;
  &--background {
    background-color: $vivint-orange !important;
  }
  &--link {
    color: $vivint-orange;
    &:visited {
      color: $vivint-orange;
    }
    &:hover {
      color: $hover-orange;
    }
    &:active {
      color: $click-orange;
    }
  }
}

.green {
  color: $blue-green !important;
  &--background {
    background-color: $blue-green !important;
  }
  &--link {
    color: $blue-green;
    &:visited {
      color: $blue-green;
    }
    &:hover {
      color: $hover-blue-green;
    }
    &:active {
      color: $click-blue-green;
    }
  }
}

.blue {
  color: $blue !important;
  &--background {
    background-color: $blue !important;
  }
  &--link {
    color: $blue;
    &:visited {
      color: $blue;
    }
    &:hover {
      color: $hover-blue;
    }
    &:active {
      color: $click-blue;
    }
  }
}

.white {
  color: $white !important;
  &--background {
    background-color: $white !important;
  }
}

.gray {
  color: $text-color !important;
}
.facebook-blue {
  color: $facebook-blue;
}
.twitter-blue {
  color: $twitter-blue;
}
// therm modes
.cooling {
  color: $cooling !important;
  &--background {
    background-color: $cooling !important;
  }
}
.heating {
  color: $heating !important;
  &--background {
    background-color: $heating !important;
  }
}

// security modes
.disarmed {
  color: $blue-green !important;
  &--background {
    background-color: $blue-green !important;
  }
}
.armed {
  color: $vivint-orange !important;
  &--background {
    background-color: $vivint-orange !important;
  }
}

// dormant (default state for therm and security)
.dormant {
  color: $dormant !important;
  &--background {
    background-color: $dormant !important;
  }
}