/* ========================================================================
   Fonts
 ========================================================================== */
@include font-face("circular-light", "fonts/int-circular/IntCircularProWeb-Light", $file-formats: woff ttf svg);
@include font-face("circular-book", "fonts/int-circular/IntCircularProWeb-Book", $file-formats: woff ttf svg);
@include font-face("circular-medium", "fonts/int-circular/IntCircularProWeb-Medium", $file-formats: woff ttf svg);

$font-light: circular-light;
$font-book: circular-book;
$font-medium: circular-medium;
$font-icon: vivint-icons;

.font-light {
  font-family: $font-light !important;
}

.font-book {
  font-family: $font-book !important;
}

.font-medium {
  font-family: $font-medium !important;
}
