/* ========================================================================
   Sizes
 ========================================================================== */
// Pizza styles
$body-text: 14px;
$border-radius: 2px;
$dialog-border-radius: 0; //4px
$button-height: 44px;
$small-button-height: 30px;
$field-height: 44px;

// Grid sizes
$single-spacing: 8px;
$semi-spacing: $single-spacing / 2;
$double-spacing: $single-spacing * 2;
$triple-spacing: $single-spacing * 3;
$quad-spacing: $single-spacing * 4;
$quint-spacing: $single-spacing * 5;
$sext-spacing: $single-spacing * 6;

// Icon Sizes
$tiny-icon: 16px;
$small-icon: 20px;
$medium-icon: 24px;
$large-icon: 40px;
$super-icon: 56px;

// Older stuff that may still apply
$borderRadius: 3px;

@mixin height-calc($start, $less) {
  height: -moz-calc(#{$start} - #{$less});
  height: -webkit-calc(#{$start} - #{$less});
  height: calc(#{$start} - #{$less});
}

@mixin top-calc($start, $less) {
  top: -moz-calc(#{$start} - #{$less});
  top: -webkit-calc(#{$start} - #{$less});
  top: calc(#{$start} - #{$less});
}

$header-height: 56px; //adjust here to 88px when adding the header_banner back it.
$header-height--sm: 40px;
$header-max-width: 1406px;
$footer-height: $header-height;
$header-and-footer: $header-height + $footer-height;
$mobile-nav-height: $sext-spacing;

$min-desktop-height-wide: 744px; //644px;
$min-desktop-height-narrow: 700px;

$settings-header-height: 50px;
$settings-nav-width: 285px;

$min-mobile-height: 400px;

// edge padding
$edge-padding: $double-spacing;
$dialog-edge-padding: $quad-spacing;
$alarm-padding: 40px;

// experience
//TODO: deprecate all of the experience sizes and styles
$experience-sidebar-width: 280px;
$experience-sidebar-width-percent: 30%;
$experience-width: 80%;
$experience-min-width: 380px;
$experience-min-height: $min-desktop-height-wide - $header-and-footer - 1;
$experience-max-width: 675px;
$experience-max-height: 900px;
$experience-min-mobile-height: 440px;

// settings
$settings-width: 70%;
$settings-min-width: 600px;
$settings-min-height: $min-desktop-height-wide;
$settings-max-height: 900px;
$settings-max-width: 960px;

// popup/dialog
$popup-width: $experience-sidebar-width + $experience-max-width;
$dialog-max-width: 544px;
$full-dialog-max-width: 728px;

// Drawer width
$drawer-width: 296px;
$drawer-min-width: 198px;

// Calendar heights
$calendar-height: 304px;
$mobile-calendar-height: 244px;
$filter-header-height: 50px;
$mobile-filter-header-height: 30px;

//Activity heights (Percentage of the viewport minus header heights on top and some space on bottom
$activity-pane-view-difference: calc(100vh - 224px);
