<!-- Text Rotator -->
<section class="hero-wrap text-center" style="background-image: url(img/text_rotator_slide.jpg)">

    <div class="container container-full-height">
        <div class="hero-holder">
            <div class="hero-message text-rotator">
                <h1><span class="rotate">Awesome Features, Creative Design, Amazing Template</span></h1>
                <h2 class="hero-subtitle hidden-xs">Enigma is a Creative Minimal Style Onepage. It is Fully Responsive and Retina Ready. Grab This Awesome Template Now.</h2>
                <div class="buttons-holder mt-30">
                    <a href="#" class="btn btn-lg btn-transparent">Learn More</a>
                    <a href="#" class="btn btn-lg btn-white">Purchase it</a>
                </div>
                <div class="local-scroll">
                    <a href="#intro" class="scroll-down">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section> <!-- end text rotator -->