<!--charity-->
<section class="result-boxes bg-light pt-60">
    <div class="container-fluid">

        <div class="row heading">
            <div class="col-md-12">
                <h2 class="text-center bottom-line">Help us give back</h2>
                <p class="subheading text-center">All proceeds from t-shirt sales go to helping care for children in the Congo.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 nopadding">
                <div class="statistic result-box result-box-first" style="background-image: url('img/jwrc/charity/CongoPicturestoreplacevideo3.jpg');">
                    <div class="result-wrap clearfix">
                    </div>
                </div>
            </div>

            <div class="col-md-4 nopadding ">
                <div class="statistic result-box result-box-second" style="background-image: url('img/jwrc/charity/CongoPicturestoreplacevideo1.jpg');">
                    <div class="result-wrap clearfix">
                    </div>
                </div>
            </div>

            <div class="col-md-4 nopadding ">
                <div class="statistic result-box result-box-third" style="background-image: url('img/jwrc/charity/CongoPicturestoreplacevideo2.jpg');">
                    <div class="result-wrap clearfix">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>