<!-- charity -->
<section class="section-wrap-mp features bg-light pt-140">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="promo-device text-center">
                    <img src="img/ipad_promo.png" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <div class="features-icons mt-80">

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#">
                            <i class="icon icon-Planet hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Endless Possibilities</h6>
                            <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#">
                            <i class="icon icon-ChartUp hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>SEO Optimized</h6>
                            <p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly.</p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a">
                        <a href="#">
                            <i class="icon icon-Users hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Built with best UX</h6>
                            <p>In order to understand how the conscious and subconscious minds work together as a team to create your reality.</p>
                        </div>
                    </div>

                    <div class="service-item-box icon-effect-1 icon-effect-1a last">
                        <a href="#">
                            <i class="icon icon-Layers hi-icon"></i>
                        </a>
                        <div class="features-text">
                            <h6>Drag n Drop Page Builder</h6>
                            <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>