<!-- Process -->
<section class="section-wrap process" style="background-image: url(img/process_bg.jpg)">

    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center color-white bottom-line">Our Process</h2>
                <p class="subheading text-center color-white">That's How We Do It</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="process-wrap text-center">
                        <i class="icon icon-ClipboardText"></i>
                        <h3>1. Planning</h3>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="process-wrap text-center">
                        <i class="icon icon-Bulb"></i>
                        <h3>2. Idea</h3>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="process-wrap text-center">
                        <i class="icon icon-Edit"></i>
                        <h3>3. Design</h3>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="process-wrap text-center">
                        <i class="icon icon-Settings"></i>
                        <h3>4. Development</h3>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item last">
                    <div class="process-wrap text-center">
                        <i class="icon icon-Web"></i>
                        <h3>5. Result</h3>
                    </div>
                </div>
            </div> <!-- end step -->

        </div>
    </div>
</section> <!-- process -->