<div class="jwr-container">

    <!--nav-->
    <jwr-nav></jwr-nav>

    <!--main-wrapper-->
    <div class="jwr-site main-wrapper-onepage main oh">
        <!--banner-->
        <jwr-banner></jwr-banner>

        <!--page header-->
        <section class="section-wrap bg-light jwr-page-title">
            <div class="container jwr-table text-center">
                <div class="row jwr-table-row">
                    <section class="col-md-5 aligned-center jwr-table-cell aligned-middle">
                        <h1>Jared Ward</h1>
                    </section>
                    <section class="col-md-2 aligned-center jwr-table-cell aligned-middle">
                        <img class="logo" src="img/jared-ward-running-company/logo/Logo-filled-blue.svg" alt="logo">
                    </section>
                    <section class="col-md-5 aligned-center jwr-table-cell aligned-middle">
                        <h1 ng-bind="$root.page.title"></h1>
                    </section>
                </div>
            </div>
        </section>

        <!--ui-view-->
        <ui-view></ui-view>

        <!--footer-->
        <jwr-footer></jwr-footer>

         <div id="back-to-top">
            <a href="" ng-click="$root.toTop()"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>

</div>