<!-- banner -->
<section class="hero-wrap text-center" style="background-image: url(img/jared-ward-running-company/b1.jpg)">

    <div class="container jwr-hero">
        <div class="hero-holder">
            <div class="hero-message">
                <h1>Awesome Features, Creative Design, Amazing Template</h1>
                <h2 class="hero-subtitle hidden-xs">Enigma is a Creative Minimal Style Onepage. It is Fully Responsive and Retina Ready. Grab This Awesome Template Now.</h2>
                <div class="buttons-holder mt-30">
                    <a href="#" class="btn btn-lg btn-transparent">Learn More</a>
                    <a href="#" class="btn btn-lg btn-white">Purchase it</a>
                </div>
            </div>
        </div>
    </div>

</section> <!-- end banner -->