<!-- Our Team -->
<section class="section-wrap-mp our-team long-bios" id="about-us">
    <div class="container">

        <div class="row" ng-repeat="member in $team.members">

            <div class="col-md-3 col-sm-12">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img ng-src="{{member.image}}" alt="{{member.name}}">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a ng-href="{{link.url}}" ng-repeat="link in member.social">
                                        <i class="fa {{link.icon}}"></i>
                                    </a>
                                </div>
                                <p>Follow {{member.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12">
                <h3 ng-bind="member.name"></h3>
                <h6 ng-bind="member.role"></h6>
                <p ng-bind-html="member.bio"></p>
            </div>

        </div>

        <!--<div class="row team-row">-->

            <!--<div class="col-md-4 col-sm-6 team-wrap" ng-repeat="member in $team.members">-->
                <!--<div class="team-member text-center">-->
                    <!--<div class="team-img">-->
                        <!--<img ng-src="{{member.image}}" alt="{{member.name}}">-->
                        <!--<div class="overlay">-->
                            <!--<div class="team-details text-center">-->
                                <!--<p ng-bind="member.blurb"></p>-->
                                <!--<div class="socials mt-20">-->
                                    <!--<a ng-href="{{link.url}}" ng-repeat="link in member.social">-->
                                        <!--<i class="fa {{link.icon}}"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h6 class="team-title" ng-bind="member.name"></h6>-->
                    <!--<span ng-bind="member.role"></span>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    </div>
</section>