<!-- Partners -->
<section class="section-wrap bg-light">
    <div class="container">

        <div class="row">

            <div id="owl-partners" class="owl-carousel owl-theme">

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_1.png" alt="">
                    </a>
                </div> <!-- end first logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_2.png" alt="">
                    </a>
                </div> <!-- end second logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_3.png" alt="">
                    </a>
                </div> <!-- end third logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_4.png" alt="">
                    </a>
                </div> <!-- end fourth logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_5.png" alt="">
                    </a>
                </div> <!-- end fifth logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_6.png" alt="">
                    </a>
                </div> <!-- end sixth logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_1.png" alt="">
                    </a>
                </div> <!-- end seventh logo -->

                <div class="item">
                    <a href="#">
                        <img src="img/client_logo_2.png" alt="">
                    </a>
                </div> <!-- end eighth logo -->

            </div> <!-- end carousel -->

        </div>
    </div>
</section> <!-- end partners -->