<!-- partners -->
<section class="section-wrap-mp clients bg-light">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center">Jared is powered by:</h2>
                <!--<h2 class="text-center bottom-line">Jared is powered by:</h2>-->
                <!--<p class="subheading text-center">They Trust Us</p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: url('img/jwrc/partners/e1-2.jpg');"></div>
            </div>
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: url('img/jwrc/partners/e2.jpg');"></div>
            </div>
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: url('img/jwrc/partners/e3.png');"></div>
            </div>
        </div>

        <div class="row second-row">
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: url('img/jwrc/partners/e4.png');"></div>
            </div>
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: url('img/jwrc/partners/e5.jpg');"></div>
            </div>
            <div class="col-sm-4 client-logo">
                <div class="jwr-client-logo" style="background-image: none;"></div>
            </div>
        </div>

    </div>
</section>