<!-- faq -->
<section class="section-wrap-mp">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <div class="about-description">
                    <h4>Coaching Packages</h4>
                    <p>Incredible change happens in your life, and the life of those around you when you decide to take control of what you do have power over instead of craving control over what you don't.</p>
                    <p>Jared Ward and Company will help you get there.</p>
                </div>
            </div>

            <div class="col-md-6">
                <h4>FAQ's</h4>
                <div class="accordion">
                    <div class="acc-panel">
                        <a href="">Why do I need to hire a coach? Can’t I just print a plan offline?</a>
                    </div>
                    <div class="panel-content">
                        <p>
                            There certainly are numerous plans available online. The problem with them is they are not tailored to you goals, your schedule and your ability. He will help you adjust your schedule if you get injurd and need help coming back. Having been a HS, collegiate and now professional runner he can help you with race strategy and be a guide in the goal setting process. Jared will be a mentor, friend and even a push in the right direction when needed.
                        </p>
                    </div>

                    <div class="acc-panel">
                        <a href="">Will Jared really coach me?</a>
                    </div>
                    <div class="panel-content">
                        <p>
                            Yes! Jared will coach you.
                        </p>
                    </div>

                    <div class="acc-panel">
                        <a href="">What should I expect from Jared</a>
                    </div>
                    <div class="panel-content">
                        <p>
                            Jared will be communicative, honest, flexible, and caring. He is in this to help you, the running community help.
                        </p>
                    </div>

                    <div class="acc-panel">
                        <a href="">What do I need to do?</a>
                    </div>
                    <div class="panel-content">
                        <p>
                            Be willing to work hard. Jared doesn’t care if you are a world beater, age group competitor, weekend warrior, or hobby jogger. He is happy to coach athletes of all abilities as long as they are willing to put in the work. When you put in the work, Jared will help you accomplish your goals.
                        </p>
                    </div>

                    <div class="acc-panel">
                        <a href="">What benefits do I get when I sign up for a plan?</a>
                    </div>
                    <div class="panel-content">
                        <ul>
                            <li>
                                <div><em>Email Support:</em></div>
                                <p>Jared understands that people are busy and everyone’s schedule is different, he will help you with your goals and give you feedback on how you can improve.</p>
                            </li>
                            <li>
                                <div><em>1:1 Skype Coaching Sessions:</em></div>
                                <p>Sometimes, emails don’t express what we are trying to describe and the occasional phone call is needed.</p>
                            </li>
                            <li>
                                <div><em>In-Person Coaching Sessions:</em></div>
                                <p>If you are in Utah Valley, Jared will be available for a limited number of personal coaching sessions if it is desired.</p>
                            </li>
                            <li>
                                <div><em>Training Plan:</em></div>
                                <p>Jared will provide each athlete with a personalized monthly training schedule.</p>
                            </li>
                            <li>
                                <div><em>Goal Setting:</em></div>
                                <p>Jared will help you set a realistic, yet challenging goal for yourself. It could be to lose weight, run a PR or qualify for Boston. Jared can help you get there.</p>
                            </li>
                            <li>
                                <div><em>Race Strategy:</em></div>
                                <p>Having the right strategy is crucial for race success. As a professional runner, Jared knows the right strategy means the difference between success and failure. He will help pass along the lessons he has learned throughout his career.</p>
                            </li>
                            <li>
                                <div><em>Supplemental Training Advice:</em></div>
                                <p>Whether you are looking for form drills, a good stretching plan, core training plan, or a strength training regimen, Jared can help you.</p>
                            </li>
                            <li>
                                <div><em>Nutritional Advice:</em></div>
                                <p>While Jared is not a Dietician, he has learned a thing or two about nutrition along the way. He has also partnered with Emily Perkins, a licensed dietician, to provide quality professional services.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>