<!-- Our Services -->
<section class="section-wrap bg-light pb-mdm-50 pb-130" id="services">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Our Services</h2>
                <p class="subheading text-center">Continuously Creating Daring Digital Solutions</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-Star hi-icon"></i>
                    </a>
                    <h3>Great Design</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-Layers hi-icon"></i>
                    </a>
                    <h3>Perfect Coding</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-Chart hi-icon"></i>
                    </a>
                    <h3>Marketing</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-User hi-icon"></i>
                    </a>
                    <h3>Support</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-Settings hi-icon"></i>
                    </a>
                    <h3>Development</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a href="#">
                        <i class="icon icon-DesktopMonitor hi-icon"></i>
                    </a>
                    <h3>Web Design</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

        </div>
    </div>
</section> <!-- end services -->

<section class="section-wrap-mp services style-2 pb-40 pb-mdm-50">
    <div class="container">

        <div class="row">
            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-DesktopMonitor"></i>
                </a>
                <div class="service-item-box">
                    <h3>Great Design</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-Layers"></i>
                </a>
                <div class="service-item-box">
                    <h3>Perfect Coding</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-Eye"></i>
                </a>
                <div class="service-item-box">
                    <h3>Retina Ready</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-User"></i>
                </a>
                <div class="service-item-box">
                    <h3>5 Star Support</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-Settings"></i>
                </a>
                <div class="service-item-box">
                    <h3>Easy to Customize</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 service-item">
                <a href="#">
                    <i class="icon icon-Timer"></i>
                </a>
                <div class="service-item-box">
                    <h3>Fast Loading</h3>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of effective websites.</p>
                </div>
            </div> <!-- end service item -->

        </div>
    </div>
</section><!-- end services -->