<!-- services -->
<section class="section-wrap-mp bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a ui-sref="apparel">
                        <i class="icon icon-ShoppingCart hi-icon"></i>
                    </a>
                    <h3>Apparel</h3>
                    <p>Awesome cool shirts for awesome cool people</p>
                </div>
            </div>

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a ui-sref="coaching">
                        <i class="icon icon-Layers hi-icon"></i>
                    </a>
                    <h3>Services</h3>
                    <p>Services targeted for people who love to run</p>
                </div>
            </div>

            <div class="col-md-4 service-item">
                <div class="service-item-box icon-effect-1 icon-effect-1a text-center">
                    <a ui-sref="bio">
                        <i class="icon icon-User hi-icon"></i>
                    </a>
                    <h3>Bio</h3>
                    <p>Learn more about the team and how to contact us.</p>
                </div>
            </div>

        </div>
    </div>
</section>