<footer class="footer footer-type-2 bg-dark">
    <div class="bottom-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-xs-12 copyright">
                    <span>
                        &copy; {{$footer.today | date:'yyyy'}} Jared Ward Running Company. All rights reserved.
                    </span>
                </div>

                <div class="col-sm-4 col-sm-offset-2 col-xs-12 footer-socials">
                    <div class="social-icons clearfix right">
                        <a
                        ng-repeat="link in $footer.socialLinks"
                        ng-href="{{link.url}}"
                        target="_blank">
                            <i class="fa {{link.icon}}"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>