<!-- Contact -->
<section class="section-wrap-mp contact" id="contact">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h5>Get in Touch</h5>
                <p>Mon-Fri: 8:00 – 20:00</p>

                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="icon icon-Pointer"></i>
                    </div>
                    <h6>Address</h6>
                    <p>Philippines,<br>
                        Greenwich st. 256/6, 62058</p>
                </div> <!-- end address -->

                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="icon icon-Phone"></i>
                    </div>
                    <h6>Call Us</h6>
                    <span>+1 888 5146 3269</span>
                </div> <!-- end phone number -->

                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="icon icon-Mail"></i>
                    </div>
                    <h6>E-mail</h6>
                    <a href="mailto:enigmasupport@gmail.com">enigmasupport@gmail.com</a>
                </div> <!-- end email -->

            </div>

            <div class="col-md-8">
                <form id="contact-form" action="#">

                    <div class="row contact-row">
                        <div class="col-md-6 contact-name">
                            <input name="name" id="name" type="text" placeholder="Name*">
                        </div>
                        <div class="col-md-6 contact-email">
                            <input name="mail" id="mail" type="email" placeholder="E-mail*">
                        </div>
                    </div>

                    <input name="subject" id="subject" type="text" placeholder="Subject">
                    <textarea name="comment" id="comment" placeholder="Message"></textarea>
                    <input type="submit" class="btn btn-lg btn-color btn-submit" value="Send Message" id="submit-message">
                    <div id="msg" class="message"></div>
                </form>
            </div> <!-- end col -->

        </div>
    </div>
</section> <!-- end contact -->