<!-- Contact -->
<form id="contact-form" name="contactForm" ng-submit="$contact.submit($contact.data)" accept-charset="UTF-8">

    <div class="row contact-row">
        <div class="col-md-6 contact-name">
            <input name="name" id="name" type="text" placeholder="Name*" ng-model="$contact.data.name" required>
        </div>
        <div class="col-md-6 contact-email">
            <input name="email" id="email" type="email" placeholder="E-mail*" ng-model="$contact.data.email" required>
        </div>
    </div>

    <input name="subject" id="subject" type="text" placeholder="Subject" ng-model="$contact.data.subject" required>
    <textarea name="comment" id="comment" placeholder="Message" ng-model="$contact.data.message"></textarea>

    <input type="submit" class="btn btn-lg btn-color btn-submit" value="Send Message" id="submit-message" ng-disabled="!contactForm.$valid">

</form>