<!-- testimonials -->
<section class="section-wrap-mp parallax-testimonials" style="background-image: url(img/jwrc/bg/b1-apparel.jpg)">

    <div id="owl-testimonials" class="owl-carousel owl-theme text-center">

        <div class="item" ng-repeat="testimonial in $testimonials.list">
            <div class="container testimonial">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <i class="fa fa-quote-left"></i>
                        <p class="testimonial-text" ng-bind-html="testimonial.quote"></p>
                        <h6 ng-bind="testimonial.name"></h6>
                        <span ng-bind="testimonial.subTitle"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>