<!-- Testimonials -->
<section class="section-wrap parallax-testimonials" style="background-image: url(img/testimonials_bg.jpg)">

    <div id="owl-testimonials" class="owl-carousel owl-theme text-center">

        <div class="item">
            <div class="container testimonial">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <i class="fa fa-quote-left"></i>
                        <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                        <h6>John C. Marshall</h6>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container testimonial">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <i class="fa fa-quote-left"></i>
                        <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                        <h6>John C. Marshall</h6>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container testimonial">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <i class="fa fa-quote-left"></i>
                        <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
                        <h6>John C. Marshall</h6>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> <!-- end testimonials -->