<!-- Pricing 3 Columns -->
<section class="section-wrap-mp pricing">
    <div class="container">

        <div class="row">

            <div class="works-grid titles">

                <div class="col-md-4 col-xs-12 work-item" ng-repeat="shirt in $shirts.list">
                    <div class="work-container">
                        <div class="work-img">
                            <img ng-src="{{shirt.image}}" alt="Apparel - {{shirt.name}}">
                            <div class="portfolio-overlay">
                               <div>
                                    <a class="btn btn-lg btn-color" ng-href="{{shirt.link}}">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="work-description">
                            <h3><a ng-href="{{shirt.link}}">{{shirt.name}} - ${{shirt.price}}</a></h3>
                        </div>
                        <!--<div>-->
                            <!--<a class="btn btn-lg btn-color" ng-href="{{shirt.link}}">-->
                                <!--Purchase Now-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>